* {
    margin: 0px;
    padding: 0px;
}


.wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
       "menu      menu      menu"
       "main      main      main"
       "services  services  services"
       "skills    skills    skills"
       "contact   contact   contact"
       "footer    footer    footer";

}

img{
    max-width: 100%;
}

/* Navigation */
.menu{
    grid-area: menu;
    background-color: #007BFF;
    
    padding-top: 20px;

    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
}

.menu ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(5, 1fr);
}

.menu ul a{
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: #ffffff;
    font-size: 1.1rem;
}

.main{
    grid-area: main;
    background-color: #007BFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    padding-top: 200px;
    padding-bottom: 100px;
}



.main #description {
    color: white;
    padding-top: 100px;
}

.services{
    grid-area: services;
    background-color: #F8F9FA;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: 
    "services-description    services-description    services-description"
    "content1                content2                content3";
    padding-left: 20px;
    
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.services #services-description {
    grid-area: services-description;
    text-align: center;
}


.services #content1 {
    grid-area: content1;
    text-align: center;
    width: 390px;
    border: 2px solid #BFBCBC;
    
}

.services #content2 {
    grid-area: content2;
    text-align: center;
    width: 390px;
    border: 2px solid #BFBCBC;
   
}

.services #content3 {
    grid-area: content3;
    text-align: center;
    width: 390px;
    border: 2px solid #BFBCBC;
   
}

.services img{
    width: 290px;
    height: 232px;
    padding-top: 10px;
}

.services h3{
    padding-bottom: 10px;
}

.services p{
    text-align: justify;
    padding: 10px;
}




.skills{
    grid-area: skills;
    background-color: #001D38;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: 
    "skills-description    skills-description    skills-description"
    "skills1                skills2                skills3";
    padding-left: 20px;
    padding-bottom: 100px;
}

.skills #skills-description {
    grid-area: skills-description;
    text-align: center;
    padding-top: 100px;
    color: #FFFFFF;
}

.skills #skills1 {
    grid-area: skills1;
    text-align: center;
    width: 390px;
    border: 2px solid #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.skills #skills2 {
    grid-area: skills2;
    text-align: center;
    width: 390px;
    border: 2px solid #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.skills #skills3 {
    grid-area: skills3;
    text-align: center;
    width: 390px;
    border: 2px solid #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.skills img{
    width: 290px;
    height: 350px;
}







.contact{
    grid-area: contact;
    background-color: #F8F9FA;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    grid-area: "contact address";
    padding-top: 50px;
    padding-left: 70px;
    padding-bottom: 100px;
}

.contact #form h1 {
    padding-bottom: 50px;
}

#address {
    padding-top: 70px;
    padding-left: 30px;
}

.contact input, textarea {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
}

.contact button{
    height: 38px;
    background:#615CFD;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

#address img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}




.footer{
    grid-area: footer;
    background-color: #001D38;
    
    display: grid;
    grid-template-columns: 1f 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "footer-nav social-media";
    
    padding-top: 30px;
}

#footer-nav {
    grid-area: footer-nav;
    padding-left: 50px;
    text-align: center;
    font-size: 16px;
}

#social-media {
    grid-area: social-media;

}

.footer #footer-nav ul{
    display: grid;
    grid-gap: 10px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(3, 0.1fr);
}

.footer #footer-nav ul a{
    text-decoration: none;
    color: #FFFFFF;
}

.footer #social-media ul {
    display: grid;
    grid-gap: 10px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 0.2fr);
}

.footer #social-media img{
    width: 30px;
    height: 30px;
    padding-bottom: 20px;
}


/* Ipad pro */
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation:portrait) {
    
    .services #services-description {
         margin-left: 360px;
        
    }

    .services #content1{
       margin-left: 280px;
    }

    .services #content2{
        margin-left: 280px;
    }

    .services #content3{
        margin-left: 280px;
    }
    
    .skills{
        grid-template-areas: 
        "skills-description"
        "skills1 skills2"  
        "skills3";
        grid-gap: 20px;
    }

    .skills #skills-description {
        margin-left: 360px;
       
   }

   .skills #skills1{
      margin-left: 280px;
   }

   .skills #skills2{
       margin-left: 280px;
   }

   .skills #skills3{
       margin-left: 280px;
   }

    .contact {
        grid-template-areas: 
        "form"
        "address";
    }
   
}





